/* Body */
html {
    font-size: 100%;
    line-height: 1rem;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }


  .box h4 {
    color: #5c6bc0;
    font-size: 18px;
    margin-top:94px;;
  }

  .box h4 span {
    color: #dfdeee;
    font-weight: lighter;
  }

  .box h5 {
    font-size: 13px;
    color: #a1a4ad;
    letter-spacing: 1.5px;
    margin-top: -15px;
    margin-bottom: 70px;
  }

  .box input[type = "text"],.box input[type = "password"], .box textarea {
    display: block;
    margin: 20px 0;
    background: #262e49;
    border: 0;
    border-radius: 5px;
    padding: 14px 10px;
    width: 320px;
    color: #fff;
    outline: none;
    transition: all .2s ease-out;
  }
  ::-webkit-input-placeholder {
    color: #565f79;
  }

  header {
    color: #fff;
    padding: 20px;
    /* margin: 0 auto; */
    width: 90vw;
    font-size: 2rem;
  }

  #form {
    margin-top: -20px;
  }

  .box input[type = "text"]:focus,.box input[type = "password"]:focus {
    border: 1px solid #79A6FE;
  }

  a{
    color: #5c7fda;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

   label input[type = "checkbox"] {
    display: none; /* hide the default checkbox */
  }

  /* style the artificial checkbox */
  label span {
    height: 13px;
    width: 13px;
    border: 2px solid #464d64;
    border-radius: 2px;
    display: inline-block;
    color: #fff;
    position: relative;
    cursor: pointer;
    float: left;
    left: 7.5%;
  }

  .btn1 {
    border:0;
    background: #943d49;
    color: #dfdeee;
    border-radius: 5px;
    height: 49px;
    font-size: 16px;
    transition: .33s;
    padding: 0 2rem;
    min-width: 0 !important;
    width: auto !important;
    cursor: pointer;
  }

  .btn1:hover {
    background: #73232e;
  }

  .rmb {
    position: absolute;
    margin-left: -154px;
    margin-top: 1px;
    color: #dfdeee;
    font-size: 13px;
  }

  .forgetpass {
    position: relative;
    float: right;
    right: 28px;
  }

  .dnthave{
      position: absolute;
      top: 92%;
      left: 24%;
  }

  [type=checkbox]:checked + span:before {/* <-- style its checked state */
      font-family: FontAwesome;
      font-size: 16px;
      content: "\f00c";
      position: absolute;
      top: -4px;
      color: #896cec;
      left: -1px;
      width: 13px;
  }

  .typcn {
    position: absolute;
    left: 339px;
    top: 282px;
    color: #3b476b;
    font-size: 22px;
    cursor: pointer;
  }

  .typcn.active {
    color: #7f60eb;
  }

  .error {
    background: #ff3333;
    text-align: center;
    width: 337px;
    height: 20px;
    padding: 2px;
    border: 0;
    border-radius: 5px;
    margin: 10px auto 10px;
    position: absolute;
    top: 31%;
    left: 7.2%;
    color: white;
    display: none;
  }

body {

    background-color: #101010;
    margin: 0;
    overflow:hidden;
    padding: 0em 1em 1em 1em;
    font-family: arial, helvetica, "trebuchet ms", sans-serif;
    line-height: 1.5;
    color: #dfdeee;
}

a:link, a:visited {
    color: #0000e0;
    text-decoration: none;
}

a:hover, a:active {
    color: #0000ff;
    text-decoration: underline;
}

label {
    font-weight: bold;
}

textarea, input {
    padding: 0.5em;
}

pre, code {
    color: #000066;
}

img {
    border: 0;
}

/* Header */
#headerPanel {
    padding: 0.5em 1em;
    /* border-bottom: 0.1em dotted gray; */
}

#header {
    display: inline-block;
    width: 50%;
}

#header h1 {
    margin: 0;
    font-size: 3em;
    line-height: 1;
}

#header h2 {
    margin: 0;
    font-size: 1.25em;
    line-height: 1;
    color: #aaaaaa;
}

#header h1 a:link,
#header h1 a:visited {
    color: #333333;
    text-decoration: none;
}

#header h1 a:hover,
#header h1 a:active {
    color: #555555;
}

#headerPanel #navigation {
    display: inline-block;
    text-align: right;
    line-height: 1;
    width: 50%;
}

#headerPanel #navigation span {
    color: #aaaaaa;
    margin-left: 1.5em;
}

/* Footer */
#footerPanel {
    /* border-top: 0.1em dotted gray; */
    /* padding: 2em 1em 0em 1em; */
    position:relative;
    z-index: 1000;
}

#footerPanel #navigation a {
    padding: 0 1em;
}

#fb-widget {
    margin-bottom: 1em;
}

#copyright b {
    font-size: 1.1rem;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

#footerPanel #widgets,
#footerPanel #software,
#footerPanel #copyright {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    background: #fefefe;
    background-color: #1d243d;
    border-radius: 9px;
    padding: 1em 2em;
    margin-left: 8vw;
}

#footerPanel #widgets *:first-child,
#footerPanel #software *:first-child,
#footerPanel #copyright *:first-child {
    margin-top: 0;
}

#footerPanel #copyright {
    display: inline-block;
    margin-bottom: 10px;
}

#particles-js {
    position:absolute;
    z-index: 100;
}

/* Main */
#main {
    position: relative;
    z-index: 1000;
    background-color: #1d243d;
    /* padding: 1em;
    overflow: hidden;
    */
    max-width: 90vw;
    margin: 25px auto;
    border-radius: 9px;
    border-top: 10px solid #4d6eaf;
    /* border-bottom: 10px solid #8BD17C; */
    padding: 3rem 2rem 3rem;
    box-shadow: 1px 1px 108.8px 19.2px rgb(25,31,53);
    min-width: 40em;
    min-height: 45vh;
}

#noscript {
    text-align: center;
    border: 0.25em double red;
    color: red;
    display: block;
    margin-bottom: 1em;
    font-size: 1.5em;
    padding: 1em;
}


.input {
    float: left;
    width: 44%;
    min-width: 15em;
    vertical-align: top;
}

/* Input form */
#form {
    /*
    background: #f0f0f0;
    border: 0.1em solid #bbbbbb;
    padding: 0.6em;
    */
}


.input label:first-child {
    margin-top: 0;
}

.input label {
    display: block;
    margin-top: 1em;
}

.input input, .input textarea {
    width: 96%;
}

#copyright p {
    margin: 5px;
    font-size: 1.05rem;
    color: #ccc;
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #headerPanel {
        width: 70vw;
        margin: 0 auto;
    }

    #main {
        max-width: 70vw;
    }

    #copyright {
        margin-left: 12vw;
    }
}

a, a:visited {
    color: #fff !important;
    padding-bottom: 3px;
    border-bottom: #882626 2px solid;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.input textarea {
    height: 15em;
}

#secretURL {
    margin-top: 1em;
}

#secretURL label {
    display: inline;
    font-weight: normal;
}

#secretURL input {
    width: auto;
}

.input #preview, .input #submit {
    width: 50%;
    min-width: 15em;
    display: block;
    margin-top: 1em;
}

.input .errors {
    border: 0.2em double #f00000;
    color: #f00000;
    padding: 1em;
}

.input .errors *:first-child {
    margin-top: 0;
}

.input .errors *:last-child {
    margin-bottom: 0;
}

/* Output sheet */
#sheet {
   /* border: 0.1em solid gray; */
    /* padding: 1em; */
    height: 100%;
    overflow: auto;
}

#outputCode {
    min-height: 25em;
    height: 87%;
    font-size: 0.879rem;
    padding: 12px;
    color: #f5f3f3;
}

.output {
    float: right;
    width: 55%;
    overflow: auto;
    min-height: 40vh;
    max-height: 65vh;
    min-width: 15em;
    vertical-align: top;
    background: #1d243d;
    border: #2b2b2b 1px solid;
}


#outputCode > *:first-child {
    margin-top: 0;
}

#outputCode h1, #outputCode h2, #outputCode h3,
#outputCode h4, #outputCode h5, #outputCode h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}


#outputTitle {
    text-align: center;
}

#outputName {
    text-align: center;
    font-weight: normal;
}

#outputImage, #outputCode {
    min-height: 25em;
    height: 87%;
}

#outputDate {
    margin-top: 1em;
    text-align: right;
    font-size: 0.75em;
    line-height: 1;
    color: #888888;
}

.qed {
    text-align: right;
    font-size: 150%;
    margin-top: -1.5em;
}

.MathJax a {
    color: #333333;
}

.MathJax a:hover {
    color: #0000e0;
}

#permaurl {
    margin-top: 1em;
    text-align: center;
}

#permaurl input {
    width: 10em;
}

/* Error page */
.errors h1, .errors h2 {
    margin-bottom: 1em;
}

/* Special purpose classes */
.hidden {
    display: none;
}
